<div style="width:100%;height:100%;position:static;">
<img src="/assets/광장3.png" style="position:absolute;width:100%;height:100%;-webkit-filter: brightness(1);opacity:0.15;">

<%= image_tag("광장3.png", {:style=> "position:absolute;width:100%;height:100%;-webkit-filter: brightness(1);opacity:0.15;"}) %>

<div style="position:absolute;width:100%;top:5%;height:85%;position:relative;display:flex;flex-direction: row;justify-content: center">

 <h1 style="position:absolute;color: BLACK; left: 16%; top: 29%;font-size: 300%;font-weight: 300;line-height: 150%; ">Member 1</h1>

 <h1 style="position:absolute;color: BLACK; left: 16%; top: 33.5%;font-size: 500%;font-weight: 400;line-height: 150%; font-family: 'Nanum Barun Gothic', sans-serif;">Jang Young Jae</h1>

 <h1 style="color: BLACK; left: 16%; top: 46%;font-size: 250%;font-weight: 300;line-height: 150%;position:absolute; ">저는 고려대학교 경제학과 14학번 장영재입니다 </h1>

  <h1 style="color: BLACK; left: 22%; top: 55%;font-size: 150%;font-weight: 300;line-height: 150%;position:absolute; ">출생일자 : 1995년 01월 01일 </h1>
  <h1 style="color: BLACK; left: 22%; top: 59%;font-size: 150%;font-weight: 300;line-height: 150%; position:absolute;">직업 : 대학생 및 백수 </h1>
   <h1 style="color: BLACK; left: 22%; top: 63%;font-size: 150%;font-weight: 300;line-height: 150%;position:absolute; ">출생지 : 전라북도 전주시 덕진구 송천동 </h1>
   <h1 style="color: BLACK; left: 22%; top: 67%;font-size: 150%;font-weight: 300;line-height: 150%;position:absolute; ">거주지 : 서울특별시 성북구 인촌로7다길</h1>
 
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="position:absolute;top: 5%;left: 10%;" >
   
     <%= image_tag("왼방향.png", { :class=> "carousel-control-next-icon", :style=>"height: 25px;width:15px;position:absolute;top: 53%;left: 15%;"}) %>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"  style="position:absolute;top: 5%;left:72%;" >
     <%= image_tag("오방향.png", { :class=> "carousel-control-next-icon", :style=>"height: 25px;width:15px;position:absolute;top: 53%;left: 83%;"}) %>
   
    <span class="sr-only">Next</span> 
  </a>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="position:absolute; left: 60%;top: 27%;width: 20%; height: 55%;">
  <div class="carousel-inner" style="width: 100%; height: 100%;">
    <div class="carousel-item active">
    <%= image_tag("사람 1.jpg", { :class=> "d-block w-100", :alt=>"First slide"}) %>
  </div>
    <div class="carousel-item">
      <%= image_tag("사람 1.jpg", { :class=> "d-block w-100", :alt=>"Second slide"}) %>

    </div>
    <div class="carousel-item">
       <%= image_tag("사람 1.jpg", { :class=> "d-block w-100", :alt=>"Third slide"}) %>

    </div>
  </div>
  
  </div>
</div>

</div>

<div style="width:100%;height:15%;position:absolute;display:flex;flex-direction: row;justify-content: center;top:0%;left:0%;">

    <div style="position:relative;display:flex;flex-direction: row;justify-content: space-between;align-items:center;width: 30%;height:100%;">
    <a href="/" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">MAIN </a>
    <a href="/home/about" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">ABOUT </a>
    <a href="/home/recruit" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400;">RECRUITS </a>
    <a href="/home/members" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">MEMBERS </a>
    <a href="/boards" STYLE="position:relative;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400;">LOUNGE </a>
    </div>
</div>
 
<a  href="/users/sign_in"  STYLE="position:absolute;left: 93%;top:3%;FONT-size: 160%;font-family: 'Rajdhani', sans-serif;font-weight:400">LOGIN </a>
<a href="/"STYLE="position:absolute;left: 3%;top:3%;FONT-size: 200%;font-family: 'Rajdhani', sans-serif;font-weight:400">NEXT </a>



<div style="position:relative;width:100%;top:100%;height: 200%;top:0;">
 <div style="position:absolute;width:15%;height:15%;top: 10%; left:12%;display:flex;flex-direction:column;align-items:center;">

   <%= image_tag("사람 1.jpg", { :style=> "position:static;width:100%;height:auto;"}) %>

 <h1 style="position:static;">장영재</h1>
 </div>
   <div style="position:absolute;width:15%;height:15%;top: 10%; left:32%;display:flex;flex-direction:column;align-items:center;">
  <%= image_tag("사람 1.jpg", { :style=> "position:static;width:100%;height:auto;"}) %>

 <h1 style="position:static;">장영재</h1>
 </div>
   <div style="position:absolute;width:15%;height:15%;top: 10%; left:52%;display:flex;flex-direction:column;align-items:center;">
  <%= image_tag("사람 1.jpg", { :style=> "position:static;width:100%;height:auto;"}) %>

 <h1 style="position:static;">장영재</h1>
 </div>
   <div style="position:absolute;width:15%;height:15%;top: 10%; left:72%;display:flex;flex-direction:column;align-items:center;">
  <%= image_tag("사람 1.jpg", { :style=> "position:static;width:100%;height:auto;"}) %>

 <h1 style="position:static;">장영재</h1>
 </div>
</div>